/* roboto-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v51-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v51-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v51-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --color-brand: #2b7fff;
  --color-dark: #011c44;
  --color-light: #ffffff;
}

/* ----BASE------ */
.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 24px;
}

body {
  margin: 0;
  color: var(--color-dark);
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  list-style: none;
}
address {
  font-style: normal;
}
/* ----BASE------ */

/* -----LINK----- */
.link {
  color: var(--color-dark);
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}
.link:hover {
  color: var(--color-brand);
  font-weight: 700;
}
/* -----LINK----- */
/* ----HERO-SECTION---- */
.hero-section {
  margin-bottom: 196px;
}
.hero-title {
  margin-bottom: 40px;
  color: var(--color-dark);
  font-size: 18px;
  font-weight: 400;
}
.hero-title .accent {
  font-size: 140px;
  font-weight: 700;
  color: var(--color-brand);
}

.button {
  padding: 16px 32px;
  background-color: var(--color-brand);
  color: var(--color-light);
  border: 2px, solid, var(--color-brand);
  border-radius: 32px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 300;
}
.button:hover {
  color: var(--color-dark);
  background-color: transparent;
  font-weight: 600;
}

.button-text {
  font-size: 12px;
  font-weight: 400;
}

/* ----HERO-TITLE---- */
/* ----SECTION-PRO-NAS----- */
.pro-nas {
  margin-bottom: 176px;
}

/* ----SECTION-PRO-NAS----- */
/* ------SECTION-CHOMU---- */
.chomy {
  margin-bottom: 96px;
}

/* ------SECTION-CHOMU---- */

/* ----section-proced---- */

.proced {
  margin-bottom: 96px;
}
/* section-contak */

.conta {
  padding-bottom: 96px;
}
/* ---SECTION-TITLE--- */
.section-title {
  margin-top: 0;
  color: var(--color-dark);
  font-size: 64px;
  font-weight: 700;
}
.section-title .accent {
  color: var(--color-brand);
}
/* ---SECTION-TITLE--- */

/* ----FOOTER---- */

.addresses {
  color: var(--color-light);
  text-decoration: none;
}

.link-foot {
  color: var(--color-light);
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}
.link-foot:hover {
  color: var(--color-light);
  font-weight: 700;
}
